body{
    font-family: sans-serif;
}
.todo-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.todo{
    color: #333;
    background-color: #a28c8c;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}
.completed{
    color: rgb(222, 4, 4);
    text-decoration: line-through;
    opacity: 0.6;
}

.delete-btn{
    position: relative;
    right: 10px;
    top: 0;
    border: 1px solid #fff;
}

